# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Entornos virtuales
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de configuración de VSCode
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de salida o temporales
*.log
*.tmp
outputs/
